*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/aa.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.wrapper{
    
    width: 45%;
    height:60vh;
    justify-content: center;
    /* padding: 20px; */
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 30px;
    text-align: center;
    display: flex;
}

.pv{
    background: linear-gradient(to bottom,#e2e2e2,#65f578);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}

#waterm{
    background-image: url('images/u3.jpeg');
    position: absolute;
    width: 45%;
    height: 60vh;
    background-size: 100%;
    background-repeat: repeat;
    opacity: 0.1;
    border-radius: 30px;
}

.container{
    background: #fff;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 250px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
}

h4{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-field{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.input-field input{
    height: 45px;
    width: 45px;
    /* margin: 5px; */
    outline: none;
    border: 1px solid #65f578;
    border-radius: 6px;
    text-align: center;
    transition: all 0.3s ease;
}

.input-field input:focus {
            border-color: #0dac4f;
            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
            transform: translateY(-2px);
        }

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-inner-spin-button{
    display: none;
}

form{
    width: 300px;
}

form button{
    background: #65f578;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    padding: 5px 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

form button:hover{
    background: #298535;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(102, 126, 234, 0.3);
}

form button:active {
    transform: translateY(0);
}

.form button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
}

#pop-up{
    position: absolute;
    top: 100px;
    /* right: 10px; */
    z-index: 2;
    background: #fff;
    height: 200px;
    width: 50%;
    justify-content: center;
    border-radius: 12px;
}

@media (max-width: 480px) {
    .container {
        padding: 30px 20px;
    }
    
    .input-field {
        gap: 8px;
    }
    
    .input-field input {
        width: 45px;
        height: 55px;
        font-size: 20px;
    }
}